@model IEnumerable<ViewsBanking.Models.Transferencia>

@{
    #region CookiesConfiguration_1.0
    //Cookies Configuration 1.0 (Configurado para Banking del 4.0 de TV)
    ViewsBanking.Models.UserCookie user = new ViewsBanking.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["ID"] = "0";
            UserCookie["Nombre"] = "Invitado";
            UserCookie["APIToken"] = "NotValid";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);

            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new ViewsBanking.Models.UserCookie();
            user.Nombre = reqCookies["Nombre"].ToString();
            user.ID = Int32.Parse(reqCookies["ID"].ToString());
            user.APIToken = reqCookies["APIToken"].ToString();

        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new ViewsBanking.Models.UserCookie();
            user.Nombre = reqCookies["Nombre"].ToString();
            user.ID = Int32.Parse(reqCookies["ID"].ToString());
            user.APIToken = reqCookies["APIToken"].ToString();

        }
    }
    #endregion
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentaOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentaDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <a href="transferencia/ByID?id=@item.Codigo&token=@user.APIToken">Ver</a>|
            @Html.ActionLink("Delete", "Delete",new {id=item.Codigo,token=user.APIToken })
        </td>
    </tr>
}

</table>
